<html>

<head>
	<script src="https://unpkg.com/react@15.3.2/dist/react.js"></script>
    <script src="https://unpkg.com/react-dom@15.3.2/dist/react-dom.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/babel-core/5.8.23/browser.min.js"></script>
	<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.2.0/jquery.min.js"></script>
      <script src="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/js/bootstrap.min.js"></script>
	<link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/bootstrap/3.3.7/css/bootstrap.min.css">
      <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
	
	
	<link href="assets/css/logInStyle.css" rel="stylesheet">
	
	
	<script type="text/babel">
	
	 var LogIn = React.createClass({ 
	   componentWillMount: function() {
      //this.getTasks()
	  
	  console.log("Hello");
	  
   },

 
      
      logIn: function(e){
	  console.log("Hello World");
	  
	  
      	
         
		 var x=document.getElementById("uname").value;
		 localStorage.setItem("username", x);
		 //console.log(x);
		 document.getElementById("myForm").submit();
      },
      
      render: function() {
	  //console.log("Hello"+this.state.CtaskDetails);
      
      //this.CgetTasks();
      return (
      	<div>
      	
		
		<div >
		<div className="logo">Please Provide Your LogIn Credential</div>
		<div className="login-form-1">
		<form className="text-left" id="myForm" action="logIn" method="POST">
			<div className="login-form-main-message"></div>
			<div className="main-login-form">
				<div className="login-group">
					<div className="form-group">
						<label  className="sr-only">Username</label>
						<input id="uname" name="username" ref={(a) => this.username = a} className="form-control" className="form-control" type="text" placeholder="Your UserName"></input>
					</div>
					<div className="form-group">
						<label  className="sr-only">Password</label>
						<input type="password" name="password" className="form-control" ref={(b) => this.password = b} id="lg_password" placeholder="password"></input>
					</div>
				</div>
				<button type="button" className="login-button" onClick={this.logIn}><i className="fa fa-chevron-right"></i></button>
			</div>
			<div className="etc-login-form">
				<p>forgot your password? <a href="#">click here</a></p>
				<p>new user? <a href="#">create new account</a></p>
			</div>
		</form>
	</div>
	</div>
	
	
		
		
		</div>
		 );
       }
      });
	
	
	
	ReactDOM.render(<LogIn />, document.getElementById('reactLogInContainer'));
	</script>
	
	
	</head>

	<body>
		<div class="container">
		<div class="row">
<h4>Welcome To Our Page..... Please Provide Your Login Details....</h4>	
		
		<div id="reactLogInContainer" class="myDiv"></div>		
			
			</div>
		
		</div>
	
	
	
	</body>

</html>